name: "${PROJECT_PREFIX}"

services:
  postgres:
    image: postgres:16
    container_name: ${PROJECT_PREFIX}_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal
    expose:
      - "5432"

  backend:
    build:
      context: ./backend
    container_name: ${PROJECT_PREFIX}_backend
    depends_on:
      - postgres
    env_file:
      - config.env
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      QUARKUS_DATASOURCE_USERNAME: ${POSTGRES_USER}
      QUARKUS_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      DOCKER_HOST: ${DOCKER_HOST}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock   # Docker-Socket mount
    ports:
      - "${BACKEND_PORT}:8080"
    networks:
      - internal
      - public

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
    container_name: ${PROJECT_PREFIX}_frontend
    ports:
      - "${FRONTEND_PORT}:3000"
    networks:
      - public

volumes:
  postgres_data:

networks:
  internal:
    internal: true
  public:
